.list__content__item{
    width:110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:85px;
    height: 145px;
    margin:.9em .4em;

    h5{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-grow: 1;
    }

    img{
        min-height: 80px;
        max-width: 100px;
    }
}