@import '../../variables.scss';

.navbar{
    display: flex;
    border-bottom: 1px lightgrey solid;

    &__btn-cnt{
        display: flex;
        align-items: center;
        flex-grow: .9;
        min-height: 5em;
    
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left:2em;
            cursor: pointer;
            background: none;
            border:none;
            transition: .25s;
            width: 60px;
            height: 60px;

            :hover{
                color:rgb(59, 59, 59);
                transition: .25s;
            }

            i{  
                display: flex;
                align-items: center;
                font-size: 35px;
            }
        }
    }

    &__logo-cnt{
        display: flex;
        align-items: center;
        flex-grow: 1;
        font-family: $font-two;
        justify-content: center;
        min-height: 5em;
        padding-left: 4em;
    
        a{
            display: flex;
            text-decoration: none;
            font-weight: 600;
            padding:0em 4em;
            color: $third-color;
            font-size: 37px;
        }
    }   

    &__socials-cnt{
        padding-right: 2em;
        display: flex;
        align-items: center;
        font-family: $font-one;
        justify-content: flex-end;
        flex-grow: .8;
        min-height: 5em;
    
        h5{
            margin-right: .4em;
        }
        
        a{
            color: $third-color;
            font-size: 30px;
            transition: .25s;

            &:hover{
                color: $third-color-hover;
                transition: .25s;
            }
        }
    }
}

@media all and(max-width:768px){


    .navbar__logo-cnt{
        flex-grow: 1.1;

        a{
            padding:0em .3em;
        }
    }

    .navbar__btn-cnt{
        flex-grow: 0;
    }

    .navbar__socials-cnt{
        display: none;
    }
}

.sidedrawer{
    position: fixed;
    font-family: $font-one;
    z-index: 1000;
    background-color:$second-color;
    left:0;
    bottom:0;
    top:0;
    width:250px;
    padding:2em 0em;
    transform: translateX(-100%);
    transition: .5s; 
    visibility: hidden;
    box-shadow: 0 2px 13px rgba(0,0,0,.7);

   button{
        margin-left: 2em;
        background-color: $second-color;
        border:none;
        display: flex;
        align-items: center;
        justify-content: center;
        color:white;
        cursor: pointer;

     i{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 38px;

        :hover{
            color:lightgrey;
        }
     }
   }

   ul{
         margin:3em 0em;

        li{
            list-style: none;
            width:100%;
            text-align: center;
            letter-spacing: 1px;
            padding:.4em 0em;
            font-weight: 600;
            margin: .5em 0em;
            transition: .2s;

            :hover{
                color: $third-color;
                transition: .2s;
            }

            a{
            text-decoration: none;
            color:white;
            display: block;
            }
        }
   
    }

    &__socials{

        h4{
            margin:1.8em 0em;
            color:white;
            width:100%;
            font-size: 15px;
            text-align: center;
        }
    
        &__links{
            width:100%;
            display: flex;
            justify-content: center;

            a{
                text-decoration: none;
                color: $third-color;
                font-size: 39px;
                margin: 0em .3em;

                :hover{
                    color: $third-color-hover;
                }
            }
        }
    }
      
}

.sidedrawer.show{
    visibility:visible;
    transform:  translateX(0%);
    transition: .5s;
    width:350px;
}