.recipes-list{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:2em 0em; 

    &__items-cnt{
        width:90%;
        max-width: 1350px;
        margin-top: 3em;
        padding: 2em 0em;
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (max-width: 1500px) {
    .recipes-list__items-cnt {
      grid-template-columns: repeat(3, auto);
    }
  }
  
  @media all and (max-width: 1290px) {
    .recipes-list__items-cnt {
      grid-template-columns: repeat(2, auto);
    }
  }
  
  @media all and (max-width: 750px) {
    .recipes-list__items-cnt {
      grid-template-columns: 1fr;
    }
  }